
<div class="home-container">
<h1>Parabéns! {{nome}} </h1>
<p>Você passou do login com sucesso!</p>
<a href="/logout">Sair</a>
</div>

<footer class="footer">
    <p>Desenvolvido por Neil Lopes | 
       <a href="https://github.com/neildev7" target="_blank">GitHub</a>
    </p>
</footer>
