<div class="login-container">
    {{#if error}}
      <div class="error-msg">{{error}}</div>
    {{/if}}

    <h1>Login</h1>

    <form action="/login" method="POST">
        <input type="text" name="email" placeholder="Email">
        <input type="password" name="senha" placeholder="Senha">
        <button type="submit">Login</button>
        <p>Não tem uma conta? <a href="/cadastro">Cadastrar</a></p>
    </form>

</div>

<footer class="footer">
    <p>Desenvolvido por Neil Lopes | 
       <a href="https://github.com/neildev7" target="_blank">GitHub</a>
    </p>
</footer>
